<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/events">
  <input name="event" type="text" placeholder="Search Events" required>
  <button type="submit">Show me the events</button>
  <a href="/events/all">All Events</a>
  <a href="/events/lucky">I'm not feeling lucky</a>
  <a href="/profile">Profile</a>
</form>