<h1>My organizations page</h1>


<h2>Creator</h2>
{{#unless owner}}
Please create a <a href="/organization/new">new organization</a>
{{/unless}}

{{#if owner}}

<ul>
  {{#each owner}}
  <li>
    <a href="/organization/{{this._id}}">{{this.name}}</a>
  </li>
  {{/each }}
</ul>

{{/if}}
<br>
<h2>Member</h2>
{{#unless member}}
Please join a <a href="/organization/new">new organization</a>
{{/unless}}

{{#if member}}
<ul>
  {{#each member}}
  <li>
    <a href="/organization/{{this._id}}">{{this.name}}</a>
  </li>
  {{/each }}
</ul>

{{/if}}