{{#with user}}
<img src="{{profilePic}}" alt="not found">
<h5>Welcome {{username}} AHHH Balls.</h5>
<p>{{shortBio}}</p>
<a href="/organization/my-organization">View Organizations</a>
<a href="/profile/edit">Edit your profile</a>
{{/with}}

<a href="/profile/dark-mode">Set Dark Mode</a>